<%= form_for @owner do |f| %>
  <div class="form">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="form">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="form">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="form">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="form">
    <%= f.label :province %>
    <%= f.text_field :province %>
  </div>
  <div class="form">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="form">
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </div>
  <div class="form">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form_button">
    <%= f.submit %>
  </div>
<% end %>
