<%= form_for @pet do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :species %>
    <%= f.text_field :species %>
  </div>
  <div>
    <%= f.label :breed %>
    <%= f.text_field :breed %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
