<p>Name: <%= @dish.name %></p>
<p>Type: <%= @dish.type_of_dish %></p>
<p>Main ingredient: <%= @dish.main_ingredient %></p>
<p>Serving size: <%= @dish.serving_size %></p>

<%= link_to "Edit Dish Information", edit_dish_path(@dish.id) %>
