<p>Name: <%= @dish.name %></p>
<p>Type: <%= @dish.type_of_dish %></p>
<p>Main ingredient: <%= @dish.main_ingredient %></p>
<p>Serving size: <%= @dish.serving_size %></p>
<p>Event: <a href="<%=event_path(@dish.event_id)%>"><%= @event.name %></a></p>

<%= link_to "Edit Dish Information", edit_dish_path(@dish.id) %>
<br />
<%= link_to "Delete Dish", dish_path(@dish.id), method: :delete, data: {confirm: 'Are you sure?'} %>
