<%= form_for [@event, @dish] do |f| %>
  <div class="form">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form">
    <%= f.label :type_of_dish %>
    <%= f.text_field :type_of_dish %>
  </div>
  <div class="form">
    <%= f.label :main_ingredient %>
    <%= f.text_field :main_ingredient %>
  </div>
  <div class="form">
    <%= f.label :serving_size %>
    <%= f.number_field :serving_size %>
  </div>
  <div class="form_button">
    <%= f.submit %>
  </div>
<% end %>
