<h1><%= @event.name %></h1>
<br />

  <h3>Event location: <%= @event.address %></h3>
  <h3>Start time: <%= @event.start_time %></h3>
  <h3>End time: <%= @event.end_time %></h3>
  <h3>Contact phone: <%= @event.phone %></h3>

<h1>Dishes for this event</h1>
<% if @dishes %>
  <% @dishes.each do |dish| %>
    <li>
      <ul><a href="dish_path[dish.id]"><%= dish.name %></a></ul>
    </li>
    <% end %>
  <% end %>

<a href="<%=new_event_dish_path(@event.id)%>">Add a dish for this event</a>
