<div class="title">
  <h1>Welcome to our vet clinic!</h1>
<div>

<li>
  <% @pets.each do |pet| %>
    <%if pet.name%>
      <ul><a href="<%=pet_path(pet.id)%>" class="list_of_pets"><%= pet.name %></a></ul>
      <ul class="pet_info"><%= pet.species %>: <%=pet.breed %></ul>
      <% end %>
    <% end %>
</li>

<div class="new_pet">
  <a href="<%=new_pet_path%>" class="new_pet_link">Add a new pet</a>
</div>
<div class="new_pet">
  <a href="<%=owners_path%>" class="new_pet_link">See list of owners</a>
</div>
