<li>
  <h3><ul><%= @pet.name %></ul></h3>
  <ul>Species: <%= @pet.species %></ul>
  <ul>Breed: <%= @pet.breed %></ul>
</li>

<h4><%= link_to "Edit Pet Information", edit_pet_path(@pet.id) %></h4>
<h4><%= link_to "Remove Pet", @pet, method: :delete %></h4>
<br />
<h5><a href="<%= pets_path %>">Home</a></h5>
