<h1>Client information</h1>

<li>
  <ul><%= @owner.name %></ul>
  <ul><%= @owner.address %></ul>
  <ul><%= @owner.city %>, <%= @owner.province %></ul>
  <ul><%= @owner.postal_code %></ul>
  <ul><%= @owner.phone %></ul>
  <ul><%= @owner.email %></ul>
</li>

<h3>Pets that belong to <%= @owner.name %></h3>
  <li>
    <% @pets.each do |pet| %>
      <ul><a href="<%= pet_path(pet.id) %>"><%= pet.name %></a></ul>
    <% end %>
  </li>

<h4><%= link_to "Edit Client Information", edit_owner_path(@owner.id) %></h4>

<a href="<%= owners_path %>">Back to client list</a>
<a href="<%= root_path %>">Back home</a>
